{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel='stylesheet'>  
 <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'main:index' %}" class="nav-link">Catalog</a></li>
        <li class="nav-item"><a href="{% url 'main:about' %}" class="nav-link">About us</a></li>
        <li class="nav-item"><a href="{% url 'main:contact' %}" class="nav-link">Contacts</a></li>
      </ul>
    </header>

    <div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="contact-form-container">
                <form action="{% url "main:contact" %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" name="first_name" required>
                    </div>
                    <div class="input-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name" name="last_name" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="input-group">
                        <label for="phone-number">Phone Number</label>
                        <input type="tel" id="phone-number" name="phone_number" required>
                    </div>
                    <div class="input-group">
                        <label for="message">How can we help?</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div> 
        </div>
    </div>
</div>
</body>
</html> 


